body {
  direction: rtl;
}
.quick-links-container {
  right: auto;
  left: 30px;
}
.azkar-categories-container {
  left: auto;
  right: 30px;
}
.settings-menu {
  right: auto;
  left: 0;
}
.settings-menu::after {
  left: 31px;
  right: auto;
}
.link .close {
  right: auto;
  left: 10px;
}
.prayer-times .hero-msg .surah-name {
  left: 30px;
  right: auto;
}
